<html>

<head>
	<title></title>
	<meta charset="utf-8">
</head>

<body>
	<h1>Welcome to Chris's basic login exercise page.</h1>
	<h3>Log in below to be redirected to the home page:</h3>
	<form action="/login" method="post">
		<input type="text" name="username" placeholder="User Name">
		<br><br>
		<input type="password" name="password" placeholder="password">
		<br><br>
		<input type="submit">
	</form>
</body>

</html>
